/* reset */
img {
  vertical-align: bottom;
}
p {
  margin: 0;
}
ul,dl,dd {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-spacing: 0;
  width: 100%;
}
/* app.css 対策 */
label {
  margin: 0;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 100% !important;
  padding: 0 !important;
}
.py-4 {
  padding-top: 1rem !important;
}
/* common */
body {
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 15px;
  padding: 60px 1em 0 1em;
  margin: 0;
  background-color: #F1F8E9;
}
.space-list>li {
  background-color: white;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.responsive-img {
  width: 100%;
  height: auto;
}
.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: solid 2px white;
}
@media (max-width: 576px) {
.sp-none {
  display: none !important;
}
}
@media (min-width: 576px) {
.pc-none {
  display: none !important;
}
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #558B2F;
  border-bottom: solid 1px #F1F8E9;
  color: white;
  height: 59px;
  z-index: 3;
  display: table;
}
header .menu,
header .logo,
header .action {
  display: table-cell;
  vertical-align: middle;
}
header .menu {
  text-align: left;
  width: 40%;
}
header .logo {
  text-align: center;
  width: 20%;
}
header .action {
  text-align: right;
  width: 40%;
  padding-right: 1rem;
  cursor: pointer;
}
header .action {
  position: relative;
}
header .action a.register {
  padding-left: 1rem;
}
header .action .logout {
  position: absolute;
  right: .75rem;
  top: 58px;
  padding: 1rem;
  background: white;
  border-left: solid 1px #558B2F;
  border-right: solid 1px #558B2F;
  border-bottom: solid 1px #558B2F;
  display: none;
}
header .action .logout a {
  color: black;
}
/* alert */
.alert {
  position: fixed;
  top: 58px;
  left: 0;
  width: 100%;
  background-color: #C5E1A5;
  padding: 1rem;
  margin: 0;
  border: none;
  border-radius: 0;
}
/* component */
/* nav-drawer */
#nav-drawer {
  position: relative;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  margin-left: 1rem;
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: white;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
#nav-content .head {
  display: table;
  width: 100%;
  background: #558B2F;
}
#nav-content .head label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 59px;
  position: relative;
}
#nav-content .head label:after {
  content: '\0d7';
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  margin-top: -28px;
}
#nav-content nav a {
  display: block;
  padding: 1rem;
  color: #333;
  border-bottom: dashed 1px #AED581;
}
#nav-content nav a:last-child {
  border-bottom: none;
}
#nav-content nav a:hover {
  background-color: #F1F8E9;
}
/* comp-ui */
.form-elem {
  margin-bottom: 1rem;
}
.form-elem.admin-box-holder {
  margin-bottom: 0;
}
.form-line {
  display: table;
  width: 100%;
}
.form-block {
  display: table-cell;
}
label.comp-ui {
  display: block;
  font-weight: bold;
  margin-bottom: .25rem;
}
.form-elem.admin-box-holder label.comp-ui {
  margin-bottom: .5rem;
}
select.comp-ui {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  background-color: white;
  vertical-align: middle;
  font-size: inherit;
  box-sizing: content-box;
}
a.comp-ui,
button.comp-ui {
  width: 100%;
  display: block;
  padding: .5rem 0;
  text-align: center;
  background-color: #64DD17;
  border: solid 1px #A5D6A7;
  border-radius: 2rem;
  cursor: pointer;
}
a.comp-ui.danger,
button.comp-ui.danger {
  color: white;
  border-color: #B71C1C;
  background-color: #F44336;
}
input.comp-ui,
select.comp-ui,
textarea.comp-ui {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  border: solid 1px #DCEDC8;
  border-radius: 3px;
}
.comp-btn-navigate {
  margin-bottom: 1rem;
}
@media (max-width: 576px) {
a.comp-ui,
button.comp-ui,
input.comp-ui,
select.comp-ui,
textarea.comp-ui {
  font-size: 16px;
}
}
@media (min-width: 576px) {
a.comp-ui,
button.comp-ui,
input.comp-ui,
select.comp-ui,
textarea.comp-ui {
  font-size: .9rem;
}
}
/* comp-title */
.comp-title {
  font-size: 1.25rem;
}
@media (max-width: 768px) {
.comp-title {
  text-align: center;
}
}
/* comp-information */
.comp-information {
  margin-bottom: 1rem;
}
.comp-information .elem {
  display: table;
  width: 100%;
  margin-bottom: .5rem;
}
.comp-information .elem .head,
.comp-information .elem .body {
  display: table-cell;
}
.comp-information .elem .head {
  width: 50%;
  font-weight: bold;
}
@media (min-width: 992px) {
.user-edit {
  display: table;
  width: 100%;
}
.comp-information,
.comp-edit {
  display: table-cell;
}
.comp-information {
  width: 300px;
}
.comp-edit {
  padding-left: 1rem;
}
}
/* caution */
.caution {
  font-size: .8rem;
  padding: .5rem 0 0 1rem;
  text-indent: -0.5rem;
}
.caution i {
  color: #E65100;
  padding-right: .25rem;
}
/* comp-box */
.comp-box {
  background-color: white;
  border: solid 1px #DCEDC8;
  border-radius: 2rem;
  position: relative;
}
.comp-box.absence {
  background-color: #E8F5E9;
  border-color: #C8E6C9;
}
.comp-box .name {
  display: table;
  width: 80%;
}
.comp-box .name .icon,
.comp-box .name .text {
  display: table-cell;
  vertical-align: middle;
}
.comp-box .name .icon {
  font-size: 2rem;
  color: #689F38;
  width: 2.5rem;
}
.comp-box .arrival {
  display: table;
  width: 100%;
  line-height: 2rem;
  position: relative;
}
.comp-box .arrival .head,
.comp-box .arrival .time {
  display: table-cell;
}
.comp-box .arrival .head {
  width: 2rem;
  text-align: center;
}
.comp-box .arrival .time {
  font-weight: bold;
  padding-left: .5rem;
}
.comp-box .arrival .accuracy {
  position: absolute;
  right: 0;
  width: 2.1rem;
  height: 2.1rem;
  border: solid 2px #FDD835;
  border-radius: 2.5rem;
  background-color: #FFF176;
  text-align: center;
  line-height: 1.9rem;
  font-size: .75rem;
}
.comp-box .flag {
  position: absolute;
  right: .5rem;
  top: .5rem;
}
@media (max-width: 576px) {
.comp-box {
  padding: 0 .5rem;
  margin-bottom: .5rem;
}
.comp-box .name {
  float: left;
  width: 45%;
}
.comp-box .arrival {
  float: right;
  width: 55%;
  margin-top: 9px;
}
}
@media (min-width: 576px) {
.comp-box {
  float: left;
  padding: .5rem .5rem .75rem 1rem;
  margin-bottom: 1rem;
}
}
@media (min-width: 576px) and (max-width: 768px) {
.comp-box {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 1rem;
}
.comp-box:nth-child(2n) {
  margin-right: 0;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.comp-box {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 1rem;
}
.comp-box:nth-child(3n) {
  margin-right: 0;
}
}
@media (min-width: 992px) {
.comp-box {
  width: 24%;
  margin-right: 1.25%;
  margin-bottom: 1rem;
}
.comp-box:nth-child(4n) {
  margin-right: 0;
}
}
/* admin-box */
.admin-box {
  background-color: white;
  border: solid 1px #DCEDC8;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.admin-box .line {
  display: table;
  width: 100%;
  padding: .5rem 1rem 0 1rem;
}
.admin-box .line.check {
  background-color: #DCEDC8;
  padding: .5rem 1rem;
}
.admin-box .line .head,
.admin-box .line .body {
  display: table-cell;
}
.admin-box .line .head {
  width: 50%;
}
.admin-box .line.check .head {
  font-weight: bold;
}
.admin-box .line .body {
  text-align: right;
}
@media (min-width: 768px) {
.admin-box {
  width: 49%;
  float: left;
}
div.admin-box:nth-of-type(even) {
  margin-left: 2%;
}
}
