html, body {
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    background-color: #f1f8e9;
    color:  #636b6f;
    font-weight: 100;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
  }
  .footer {
    height: 50px;
    background-color: #fff;
}
.title {
    font-size: 9vw;
    margin-top: 50px;
    margin-bottom: 30px;
}
.message {
    width: 100%;
    font-size: 14px;
}
.summary-wp {
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 95%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.summary {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
.sp { display: none !important; }

  h1, h2, h3, h4, p {
    margin-left: 5%;
    margin-right: 5%;
}
h1 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 40px;
}
h2 {
    margin-bottom: 30px;
    font-size: 30px;
}
h3 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 26px;
}
h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
}
p {
    font-size: 18px;
    padding-left: 5%;
}
figure {
    padding: 5px;
    margin: 0px;
    text-align: center;
    margin-bottom: 2em;
}
img {
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align:center;
}


@media screen and (max-device-width: 480px) {
  img {
      width:100%;
      max-width: 100%;
      height: auto;
  }
.pc { display: none !important; }
.sp { display: block !important; }
}